sudo: required
dist: xenial
addons:
  chrome: stable
  firefox: latest
language: node_js
services:
- xvfb
node_js:
- '10'
cache:
  yarn: true
branches:
  except:
  - stable
before_install:
- export START_TIME=$( date +%s )
- npm i -g yarn
install:
- yarn add @ckeditor/ckeditor5-dev-tests
- ckeditor5-dev-tests-install-dependencies
script:
- ckeditor5-dev-tests-travis
after_success:
- ckeditor5-dev-tests-save-revision
after_script:
- export END_TIME=$( date +%s )
- ckeditor5-dev-tests-notify-travis-status
env:
  global:
  - secure: TIUzbuhsu6z6+mKbdFR///Txlo9U7wpyBe1Em+eErBwiZpkjlThSHooP9LBKakzJ8/Q3qFN4q4u6dvR4mMRsSMerUctSqCHfuk1fmu//Yu2RBvjKhRimUn1RVfkmSR8r+fzEqVg+BXLSugVzP06szU6Ah99UmPvJw+RDWzO9kGuloU5SPrPnI+7yX1XFbEGVN4M1j/p4yWNPFCsD+T8vxx2CgQCdVHa6tLo0j3mRkeaSZeWl2ogZysmuFaaKKX7UZw+WAeSJEILKT9AGt++sQ44MoZinNYx1Si1cPVdjUrTj+p0SykSTQ9sZbQnbf5E4jZ4HukKL4uI8SpAbhtTQ8k/RGFlDs2WxVARN59HEazquEIpX2Izovy2PyuIHMgOX9p/b3Qkyv/EyZkzsvFCZ9cgr0s1jNmvzoYAwUloZnBxCsvPkq7V/hrdnViWiEy38hgtgB1XM6q8hfBrcVOo36CtSNzPTVC151lqbo3rvjKgJYuUJYReHjuzWgx5+EwhyhtEH68WHQQjZP0c3TjpD6RHkI7eAMEYDRU3qHcza8b3pFGOVCQ5e0BYnJJLCGJPDOUa4+jrk1Kv1eRSDFrRSzj5fbgd7Zd333Ybho7YfR1sFZMBb6zVJU/AtbchMJ1zLHSTo/e03GokoKMmmslZ5J8dWL16my0xRtdsOqvhdG6Q=
