{
	"extends": "stylelint-config-ckeditor5",
	"plugins": [
		"stylelint-plugin-ckeditor5-rules/lib/license-header"
	],
	"rules": {
		"declaration-property-value-disallowed-list": null,
		"ckeditor5-rules/license-header": [
			true,
			{
				"headerLines": [
					"/*",
					" * Copyright (c) 2003-2022, CKSource Holding sp. z o.o. All rights reserved.",
					" * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-oss-license",
					" */"
				]
			}
		]
	}
}
