{
	"extends": "stylelint-config-ckeditor5",
	"plugins": [
		"stylelint-plugin-ckeditor5-rules/lib/license-header"
	],
	"ignoreFiles": [
		"**/dist/**",
		"coverage/**",
		"external/**",
		"release/**"
	],
	"rules": {
		"ckeditor5-rules/license-header": [
			true,
			{
				"headerLines": [
					"/*",
					" * Copyright (c) 2003-2025, CKSource Holding sp. z o.o. All rights reserved.",
					" * For licensing, see LICENSE.md or https://ckeditor.com/legal/ckeditor-licensing-options",
					" */"
				]
			}
		]
	}
}
