sudo: required
dist: xenial
addons:
  chrome: stable
language: node_js
services:
- xvfb
cache:
  yarn: true
node_js:
- "12"
cache:
- node_modules
before_install:
- export START_TIME=$( date +%s )
- export COVERALLS_SERVICE_JOB_ID=$( TRAVIS_JOB_ID )
- export COVERALLS_SERVICE_NAME="CKEditor5 code coverage"
- npm i -g yarn
install:
- yarn install
script:
- node ./scripts/continuous-integration-script.js
- yarn run lint
- yarn run stylelint
- 'if [ $TRAVIS_TEST_RESULT -eq 0 ]; then
    travis_wait 30 yarn run docs --strict
  fi'
after_script:
- export END_TIME=$( date +%s )
- ckeditor5-dev-tests-notify-travis-status
env:
  global:
  - secure: RO140EQDHmEOPJPikk8eCY5IdHpnEKGm41p5U1ewAbeZv1DpCG+rSumR2JdYl75kFAaZvCSm1NuVMM+kmYd+/z+LQbKj7QH5G/UHNho3H89blIU6WlJhT0YR5vclm9rvnEvOtxnfODca1Qrw+CaCoJks2o4VYbJB7mOBVNsh7Bc=
