sudo: required
dist: xenial
addons:
  chrome: stable
  firefox: latest
language: node_js
services:
- xvfb
node_js:
- '10'
cache:
  yarn: true
branches:
  except:
  - stable
before_install:
- export START_TIME=$( date +%s )
- npm i -g yarn
install:
- yarn add @ckeditor/ckeditor5-dev-tests
- ckeditor5-dev-tests-install-dependencies
script:
- ckeditor5-dev-tests-travis
after_success:
- ckeditor5-dev-tests-save-revision
after_script:
- export END_TIME=$( date +%s )
- ckeditor5-dev-tests-notify-travis-status
env:
  global:
  - secure: SF/4BAGeMue/SDIifWYKPiqjKUbr/ab6YfDMv0trzZShIaN79CUCSD+ciLZJn/71nQml4lqbGYeb5MH9eDQ1ffoOoMqvxObmzAHiDnz/kwbcfmrqd9Gq0G+yQ5P8W9aOaT3LkOuz6lhj11sebWT1J0vIziZw33ZwjfVrlSA0o1IjwsbOX8pj2PCTJChup2VS6i4B4zSZ7Yx4KzzB3b+HrcbrbVWdQa7q2Lsa/dsgU25UW9dIu0bP0BO/mGIo2QUUUt+ZhJfYh1bXWj5Mkuq91xr34E9qABMAxp4qBzAU7tMbIBKbcW9zuVY6MNM0NC409UA/wzposLdu3CUppa/V7c89A1CNygU6d8eq8Cy67pdR8V2f1u0TEEodCWWyBCiSs/ZguacsunxYiOEApeds0Bmyzc0a8yBFqaUiPjHNu57cINC64Gj7GemOaHGbJNY91nSqcQ0A1a72LTeLdXsxTn1ieFjpZArFK3jNFWbmLxYXefzOUxo7iwv9lo/R2pP6gZapVxDE5k7LGF9s5XqPUHThZAVrgvskjchBcnT04vknPS2cbmLDgB63GKR3L0P066e7GlPlBxmVQH8V+o+oTb0F/TEMLe9HK0cTqg3NbBr0arkJ1nsjJQQqaJlhW4/xghkCAbMjEg9f837IFGd6mAB2w9Uo4MXujDdc5duTMGQ=
