# This is the based configuration required by CircleCI to run a build.
#
# The CKEditor 5 repository uses the dynamic configuration to generate
# tasks for executing tests and checking the code coverage.
#
# This configuration aims to prepare a complete design and continue checking
# the repository in a new workflow.
#
# To modify the commands to execute on CI, review the following files:
# - scripts/ci/generate-circleci-configuration.mjs - the script that creates the `config-tests.yml` file used on the new workflow.
# - .circleci/template.yml - the template filled with data to execute.
#
# Useful resources:
# - https://circleci.com/docs/using-dynamic-configuration/
version: 2.1

setup: true

# List of parameters must be synchronized between configuration files.
parameters:
  isNightly:
    type: boolean
    default: false
  isStaleBot:
    type: boolean
    default: false
  chromeVersion:
    type: string
    default: "145.0.7632.45"
  isLtsPipeline:
    type: boolean
    default: false

orbs:
  continuation: circleci/continuation@0.1.2

commands:
  install_ssh_keys_command:
    description: "Install SSH keys"
    steps:
      - add_ssh_keys:
          fingerprints:
            - "a0:41:a2:56:c8:7d:3f:29:41:d1:87:92:fd:50:2b:6b"

  checkout_command:
    description: "Clone the CKEditor 5 repository with limited depth and branches"
    steps:
      - run:
          name: Add GitHub to known_hosts
          command: |
            mkdir -p ~/.ssh
            ssh-keyscan github.com >> ~/.ssh/known_hosts
      - run:
          name: Checkout code (single branch)
          command: git clone --single-branch --depth 10 --branch "$CIRCLE_BRANCH" "$CIRCLE_REPOSITORY_URL" .

jobs:
  generate_configuration:
    docker:
      - image: cimg/node:24.11.0
    resource_class: medium
    parameters:
      isNightly:
        type: boolean
    steps:
      - checkout_command
      - run:
          name: Verify if the job should continue
          command: |
            #!/bin/bash

            IS_NIGHTLY=<< pipeline.parameters.isNightly >>

            if [[ "$IS_NIGHTLY" == "true" ]]; then
              exit 0
            fi

            COMMIT_MESSAGE=$(git log -n 1 --pretty=format:%s ${CIRCLE_SHA1})

            if [[ "$COMMIT_MESSAGE" == *"[skip ci]" ]]; then
              echo "Skipping, because the commit message contains '[skip ci]'."
              circleci-agent step halt
            fi
      - install_ssh_keys_command
      - run:
          name: Disable Corepack
          command: sudo corepack disable
      - run:
          name: Install pnpm
          command: sudo npm i -g pnpm@^10
      - run:
          name: Install dependencies
          environment:
            PUPPETEER_SKIP_DOWNLOAD: true
          command: pnpm install --frozen-lockfile
      - run:
          name: Generate a new configuration to check all packages in the repository
          command: node scripts/ci/generate-circleci-configuration.mjs --chrome-version="<< pipeline.parameters.chromeVersion >>" --is-lts-pipeline="<< pipeline.parameters.isLtsPipeline >>"
      - continuation/continue:
          configuration_path: .circleci/config-tests.yml

workflows:
  version: 2
  config:
    jobs:
      - generate_configuration:
          isNightly: false
