.ck-body {
	margin: 10px 0;
	border: solid 3px red;
}
.ck-body::before {
	content: '[[ ck-body region ]]';
}

.ck-box {
	margin: 10px 0;
}

.ck-main {
	border: solid 1px rgb( 200, 200, 200 );
	padding: 5px
}

.ck-toolbar {
	border: solid 1px rgb( 200, 200, 200 );
	background: rgb( 240, 240, 240 );
	padding: 5px;
}

.ck-toolbar.ck-hidden {
	opacity: 0.3;
}

.ck-button {
	border: solid 1px transparent;
	background: transparent;
	display: inline-block;
	padding: 5px 10px;
	border-radius: 1px;
	margin-right: 5px;

	font-size: 16px;
	color: rgb( 69, 69, 69 );

	cursor: pointer;
}

.ck-button:hover:not(.ck-disabled) {
	border: solid 1px rgb( 180, 180, 180 );
	box-shadow: 0 0 2px rgba( 0, 0, 0, 0.1 );
}

.ck-button.ck-on {
	border: solid 1px rgb( 200, 200, 200 );
	box-shadow: inset 0 0 3px rgba( 0, 0, 0, 0.1 );
	background: rgba( 0, 0, 0, 0.05 );
}

.ck-button.ck-disabled {
	color: rgb( 180, 180, 180 );
}
