sudo: required
dist: xenial
addons:
  chrome: stable
  firefox: latest
language: node_js
services:
- xvfb
node_js:
- '10'
cache:
  yarn: true
branches:
  except:
  - stable
before_install:
- export START_TIME=$( date +%s )
- npm i -g yarn
install:
- yarn add @ckeditor/ckeditor5-dev-tests
- ckeditor5-dev-tests-install-dependencies
script:
- ckeditor5-dev-tests-travis
after_success:
- ckeditor5-dev-tests-save-revision
after_script:
- export END_TIME=$( date +%s )
- ckeditor5-dev-tests-notify-travis-status
env:
  global:
  - secure: G0NJ6mKVTvt3Bk06GyGNDGaRq7g27e+QTBQiGN398p6SESz2gfHSD5/m1DEibE2+Wzbox4OFLNe4QGUvbIjnQiDAgZh/pyQdhU45Klty5oOY1bkMr7ShdyHnC11FY8OzeZk8T8Rs81vD9C0gGe1YS8UJnvNMd1xZTfd7MFsMLJvUOP2S7jlp6xBPWHvqnOpX9IqDWRu5KGmzdwXzMdwllkJq8Jx/5UtqVPXHTahlmiDgyaMKGKSWQuj96voYaOIaFAkrE/OfF2Ckb4aVMQ7ZtpQn27h4sdKbfAWx6+2PvPSlpqREt/gRUBhCeSyTBB66n6E5WqK5TE2f46NON7+y1vGYKbFxUM+36tkvYQbbEwcK2uJYSAYIIO8wWgZP7ayDlV0QmCxlLbiRWiQZeyC+ZUHoHYOkqDzCm1/kwoWn9S+rOyPfK4h+cL3xeirAAajMzSR6QBKTU1Ku+G1jlnrzcU2XhfW+gOl2kaMsBH1iOeqIMDVp7ZNsL5AZTJykmzoCAVz0anafTPtOfF0s/rQxqEP+tdErmChtW3L3hNLd9D9znOangvfDHwW06UL9C06/IvJQB2OFUQf94vXU/7jb34if00P+INZVt1218zF3tinoDm0Ivx7Gb/zDKUQR/s0ZPNtDNCxM72xITiAdPlQYobRHXeK8O9TVNKVwNMSS4Bc=
