html {
	font-family: "Open Sans", sans-serif;
}

.container {
	max-width: 812px;
	margin: 30px auto 0;
}

.container > h1 {
	text-align: center;
}

.ck-fontsize-option .ck-button__label {
	font-size: 14px!important;
}

.ck-content {
	height: 100vh;
	padding: 20px 30px!important;
}

.ck-source-editing-area {
	min-height: 100vh;
}

.ck-content .todo-list .todo-list__label > input {
	margin-bottom: 6px!important;
}

.ck.ck-toolbar__items > button.ck-button:nth-of-type(17) svg,
.ck.ck-toolbar__items > button.ck-button:nth-of-type(18) svg {
	width: 16px;
}

.ck.ck-button {
	font-size: 12px!important;
}

.ck.ck-button.ck-button_with-text .ck.ck-button__label {
	font-weight: bold!important;
}
.ck.ck-button.helpjuice-callout-info-btn svg,
.ck.ck-button.helpjuice-callout-success-btn svg,
.ck.ck-button.helpjuice-callout-warning-btn svg,
.ck.ck-button.helpjuice-callout-danger-btn svg {
	width: 17px;
}

.ck.ck-button.helpjuice-decision-tree-btn svg {
	width: 14px;
}

.ck.ck-button.helpjuice-callout-info-btn svg {
	color: #004085;
}
.ck.ck-button.helpjuice-callout-success-btn svg {
	color: #155724;
}
.ck.ck-button.helpjuice-callout-warning-btn svg {
	color: #856404;
}
.ck.ck-button.helpjuice-callout-danger-btn svg {
	color: #721c24;
}

.ck.ck-button.ck-source-editing-button .ck.ck-button__label {
	display: none!important;
}

#new-glossary-term-modal {
	background: #FFFFFF;
    border-radius: 8px;
    padding: 16px 24px;
    box-shadow: 0px 0px 16px rgba(0, 0, 0, .16);
    position: absolute;
    display: none;
    z-index: 999;
    width: 338px;
}

.fr-text-bordered {
	border-top: solid 1px #222;
	border-bottom: solid 1px #222;
	padding: 10px 0;
}

.fr-text-spaced {
	letter-spacing: 1px;
}

.fr-text-uppercase {
	text-transform: uppercase;
}

.link-button {
	display: inline-block;
    line-height: 1.5;
    color: #FFFFFF;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: #126CFF!important;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 18px;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.link-button:hover {
	background-color: #3e85f7!important;
}
