
.ck.ck-balloon-panel.live-snippet__tour-balloon {
	--ck-color-panel-background: var(--ck-color-base-background);

	padding: var(--ck-spacing-large);
	min-width: 190px;
	max-width: 280px;
	border: 0;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible.live-snippet__tour-balloon {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.ck.ck-balloon-panel.ck-balloon-panel_visible.live-snippet__tour-balloon::before {
	border-color: transparent;
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__message {
	white-space: normal;
	line-height: 1.5;
	margin: var(--ck-spacing-standard) calc(2 * var(--ck-spacing-large)) var(--ck-spacing-small) var(--ck-spacing-small);
	padding-left: 52px;
	min-height: 41px;
	color: var(--ck-color-text);

	background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiPz48c3ZnIHdpZHRoPSIzOHB4IiBoZWlnaHQ9IjM3cHgiIHZpZXdCb3g9IjAgMCAzOCAzNyIgdmVyc2lvbj0iMS4xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhsaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIj4gICAgICAgIDx0aXRsZT5oaW50PC90aXRsZT4gICAgPGRlc2M+Q3JlYXRlZCB3aXRoIFNrZXRjaC48L2Rlc2M+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9IkFydGJvYXJkIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgtOTg5LjAwMDAwMCwgLTQzNS4wMDAwMDApIj4gICAgICAgICAgICA8ZyBpZD0icG9wdXAtaW52ZXJ0ZWQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDk3My41MDAwMDAsIDQwOC4wMDAwMDApIj4gICAgICAgICAgICAgICAgPGcgaWQ9ImhpbnQiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE2LjAwMDAwMCwgMjcuMDAwMDAwKSI+ICAgICAgICAgICAgICAgICAgICA8Y2lyY2xlIGlkPSJPdmFsIiBmaWxsLW9wYWNpdHk9IjAuMTE5NTkxMzQ2IiBmaWxsPSIjRkZGRkZGIiBjeD0iMTguOTMwMjMyNiIgY3k9IjE4LjUiIHI9IjE4LjUiPjwvY2lyY2xlPiAgICAgICAgICAgICAgICAgICAgPHBhdGggZD0iTTE4Ljg5MTEyMDUsMzAuMjkyMzI1NyBDMTkuNDg4NTg4MSwzMC4yOTIzMjU3IDE5Ljk3MjkzMTIsMjkuODA3OTgyNiAxOS45NzI5MzEyLDI5LjIxMDUxNSBDMTkuOTcyOTMxMiwyOC42MTMwNDc1IDE5LjQ4ODU4ODEsMjkuMDE5MDMyNCAxOC44OTExMjA1LDI5LjAxOTAzMjQgQzE4LjI5MzY1MjksMjkuMDE5MDMyNCAxNy44MDkzMDk4LDI4LjYxMzA0NzUgMTcuODA5MzA5OCwyOS4yMTA1MTUgQzE3LjgwOTMwOTgsMjkuODA3OTgyNiAxOC4yOTM2NTI5LDMwLjI5MjMyNTcgMTguODkxMTIwNSwzMC4yOTIzMjU3IFoiIGlkPSJPdmFsIiBmaWxsPSIjMDAwMDAwIj48L3BhdGg+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTUuNjA1NzA4MiwyNS4xNDkwNDg2IEwyMi4xNzY1MzI4LDI1LjE0OTA0ODYgTDIyLjA3MTIzNDEsMjcuMzUxMzMxNyBDMjIuMDIwMjU0NiwyOC40MTc1NDg5IDIxLjE0MDk1MTYsMjkuMjU1ODE0IDIwLjA3MzUxNjMsMjkuMjU1ODE0IEwxNy43MDg3MjQ3LDI5LjI1NTgxNCBDMTYuNjQxMjg5NCwyOS4yNTU4MTQgMTUuNzYxOTg2NCwyOC40MTc1NDg5IDE1LjcxMTAwNjksMjcuMzUxMzMxNyBMMTUuNjA1NzA4MiwyNS4xNDkwNDg2IEwxNS42MDU3MDgyLDI1LjE0OTA0ODYgWiIgaWQ9IkNvbWJpbmVkLVNoYXBlIiBmaWxsPSIjQUJBQkFCIj48L3BhdGg+ICAgICAgICAgICAgICAgICAgICA8cGF0aCBkPSJNMTguODkxMTIwNSw5Ljg5NTM0ODg0IEMyMi41MjAwODY3LDkuODk1MzQ4ODQgMjUuNDYxOTQ1LDEyLjc4MDYzMyAyNS40NjE5NDUsMTYuMzM5ODExNCBDMjUuNDYxOTQ1LDE3LjQ5NTAyMTkgMjUuMTUyMDI4NiwxOC41NzkyMzk2IDI0LjYwOTI5MiwxOS41MTY4NTA5IEMyNC41OTEzODY5LDE5LjU5MjczMDIgMjQuNTQ5NzEyNSwxOS42NzI1MzE2IDI0LjQ4MjgxNjUsMTkuNzU1NjE1MiBMMjQuMzYyNTAzNywxOS45MDk3MTk2IEMyNC4yMzYwOTQyLDIwLjA5NTcwODYgMjQuMTAwMDg4MiwyMC4yNzQ4ODY4IDIzLjk1NTE3OTYsMjAuNDQ2NTczNyBDMjMuMTEwMjA1LDIxLjYwNzczNDggMjIuNTE3Nzk5NCwyMi43NDUwNTg1IDIyLjE3NjUzMjgsMjMuODU4MzUxIEwyMi4xNzY1MzI4LDI1LjI5MDM0MjggTDE1LjYwNTcwODIsMjUuMjkwMzQyOCBMMTUuNjA1NzA4MiwyMy44NTgzNTEgQzE1LjI0NTI3MzIsMjIuNzYyNDIyNCAxNC42NjgyMDA5LDIxLjY0MzIwNjQgMTMuODc0NDkxMywyMC41MDA3MDI4IEMxMi45MDQzMjA5LDE5LjM3NzY3MzEgMTIuMzIwMjk2LDE3LjkyNTYzMzggMTIuMzIwMjk2LDE2LjMzOTgxMTQgQzEyLjMyMDI5NiwxMi43ODA2MzMgMTUuMjYyMTU0Myw5Ljg5NTM0ODg0IDE4Ljg5MTEyMDUsOS44OTUzNDg4NCBaIE0xOC40ODA0NDQsMTEuMTI3Mzc4NCBDMTUuNzU4NzE5MywxMS4xMjczNzg0IDEzLjU1MjMyNTYsMTMuMzMzNzcyMiAxMy41NTIzMjU2LDE2LjA1NTQ5NjggQzEzLjU1MjMyNTYsMTYuMjQyMjEzNyAxMy41NjI3MDk1LDE2LjQyNjUwNTIgMTMuNTgyOTMxNCwxNi42MDc4MjU1IEwxMy42MjA1NzQ0LDE2Ljg3NzUwOTIgTDE0LjQ1NTk4NTQsMTYuODc3NjIwOCBDMTQuNDAyMDEyOCwxNi42MTE5OTQ1IDE0LjM3MzY3ODYsMTYuMzM3MDU0NSAxNC4zNzM2Nzg2LDE2LjA1NTQ5NjggQzE0LjM3MzY3ODYsMTMuODUyMTk1OSAxNi4xMDg3NzQ3LDEyLjA1NDE0ODQgMTguMjg3MTE5NiwxMS45NTMyMDE1IEwxOC40ODA0NDQsMTEuOTQ4NzMxNSBMMTguNDgwNDQ0LDExLjEyNzM3ODQgWiIgaWQ9IlNoYXBlIiBmaWxsPSIjRjhDMjcyIj48L3BhdGg+ICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoNy43NDQxODYsIDE1LjUyNzQ4NCkiIHN0cm9rZT0iI0Y4QzI3MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4gICAgICAgICAgICAgICAgICAgICAgICA8bGluZSB4MT0iMS42MDM1OTQwOCIgeTE9IjEuNjAzNTk0MDgiIHgyPSIxLjYwMzU5NDA4IiB5Mj0iLTAuNTQ3NTY4NzEiIGlkPSJQYXRoLTItQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS42MDM1OTQsIDAuNTI4MDEzKSByb3RhdGUoOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTEuNjAzNTk0LCAtMC41MjgwMTMpICI+PC9saW5lPiAgICAgICAgICAgICAgICAgICAgICAgIDxsaW5lIHgxPSIyMC4yNjAwNDIzIiB5MT0iMS42MDM1OTQwOCIgeDI9IjIwLjI2MDA0MjMiIHkyPSItMC41NDc1Njg3MSIgaWQ9IlBhdGgtMi1Db3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwLjI2MDA0MiwgMC41MjgwMTMpIHJvdGF0ZSg5MC4wMDAwMDApIHRyYW5zbGF0ZSgtMjAuMjYwMDQyLCAtMC41MjgwMTMpICI+PC9saW5lPiAgICAgICAgICAgICAgICAgICAgPC9nPiAgICAgICAgICAgICAgICAgICAgPGcgaWQ9Ikdyb3VwLTUtQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTguNTk5MTg0LCAxNi40NDUyMTMpIHJvdGF0ZSgtMzAuMDAwMDAwKSB0cmFuc2xhdGUoLTE4LjU5OTE4NCwgLTE2LjQ0NTIxMykgdHJhbnNsYXRlKDcuODQzMzcwLCAxNS41ODQ3NDgpIiBzdHJva2U9IiNGOEMyNzIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCI+ICAgICAgICAgICAgICAgICAgICAgICAgPGxpbmUgeDE9IjEuNjAzNTk0MDgiIHkxPSIxLjYwMzU5NDA4IiB4Mj0iMS42MDM1OTQwOCIgeTI9Ii0wLjU0NzU2ODcxIiBpZD0iUGF0aC0yLUNvcHkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuNjAzNTk0LCAwLjUyODAxMykgcm90YXRlKDkwLjAwMDAwMCkgdHJhbnNsYXRlKC0xLjYwMzU5NCwgLTAuNTI4MDEzKSAiPjwvbGluZT4gICAgICAgICAgICAgICAgICAgICAgICA8bGluZSB4MT0iMjAuMjYwMDQyMyIgeTE9IjEuNjAzNTk0MDgiIHgyPSIyMC4yNjAwNDIzIiB5Mj0iLTAuNTQ3NTY4NzEiIGlkPSJQYXRoLTItQ29weS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgyMC4yNjAwNDIsIDAuNTI4MDEzKSByb3RhdGUoOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTIwLjI2MDA0MiwgLTAuNTI4MDEzKSAiPjwvbGluZT4gICAgICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC01LUNvcHktMyIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMjMuNDg1MzgyLCA4LjE4MDQzOCkgcm90YXRlKC02MC4wMDAwMDApIHRyYW5zbGF0ZSgtMjMuNDg1MzgyLCAtOC4xODA0MzgpIHRyYW5zbGF0ZSgyMi4xOTQ2ODUsIDcuMzE5OTczKSIgc3Ryb2tlPSIjRjhDMjcyIiBzdHJva2UtbGluZWNhcD0icm91bmQiIHN0cm9rZS1saW5lam9pbj0icm91bmQiPiAgICAgICAgICAgICAgICAgICAgICAgIDxsaW5lIHgxPSIxLjI1MTU4NTYyIiB5MT0iMS42MDM1OTQwOCIgeDI9IjEuMjUxNTg1NjIiIHkyPSItMC41NDc1Njg3MSIgaWQ9IlBhdGgtMi1Db3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDEuMjUxNTg2LCAwLjUyODAxMykgcm90YXRlKDkwLjAwMDAwMCkgdHJhbnNsYXRlKC0xLjI1MTU4NiwgLTAuNTI4MDEzKSAiPjwvbGluZT4gICAgICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICAgICAgICAgIDxnIGlkPSJHcm91cC01LUNvcHktNCIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMTQuMDk4NDkwLCA4LjAyMzk5MCkgcm90YXRlKC0xMjAuMDAwMDAwKSB0cmFuc2xhdGUoLTE0LjA5ODQ5MCwgLTguMDIzOTkwKSB0cmFuc2xhdGUoMTIuODA3NzkzLCA3LjE2MzUyNSkiIHN0cm9rZT0iI0Y4QzI3MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4gICAgICAgICAgICAgICAgICAgICAgICA8bGluZSB4MT0iMS4yNTE1ODU2MiIgeTE9IjEuNjAzNTk0MDgiIHgyPSIxLjI1MTU4NTYyIiB5Mj0iLTAuNTQ3NTY4NzEiIGlkPSJQYXRoLTItQ29weS0yIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxLjI1MTU4NiwgMC41MjgwMTMpIHJvdGF0ZSg5MC4wMDAwMDApIHRyYW5zbGF0ZSgtMS4yNTE1ODYsIC0wLjUyODAxMykgIj48L2xpbmU+ICAgICAgICAgICAgICAgICAgICA8L2c+ICAgICAgICAgICAgICAgICAgICA8ZyBpZD0iR3JvdXAtNS1Db3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDE4Ljg3MDE2MCwgMTYuMTc0MjM3KSByb3RhdGUoLTE1MC4wMDAwMDApIHRyYW5zbGF0ZSgtMTguODcwMTYwLCAtMTYuMTc0MjM3KSB0cmFuc2xhdGUoOC4xMTQzNDYsIDE1LjMxMzc3MikiIHN0cm9rZT0iI0Y4QzI3MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj4gICAgICAgICAgICAgICAgICAgICAgICA8bGluZSB4MT0iMS42MDM1OTQwOCIgeTE9IjEuNjAzNTk0MDgiIHgyPSIxLjYwMzU5NDA4IiB5Mj0iLTAuNTQ3NTY4NzEiIGlkPSJQYXRoLTItQ29weSIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoMS42MDM1OTQsIDAuNTI4MDEzKSByb3RhdGUoOTAuMDAwMDAwKSB0cmFuc2xhdGUoLTEuNjAzNTk0LCAtMC41MjgwMTMpICI+PC9saW5lPiAgICAgICAgICAgICAgICAgICAgICAgIDxsaW5lIHgxPSIyMC4yNjAwNDIzIiB5MT0iMS42MDM1OTQwOCIgeDI9IjIwLjI2MDA0MjMiIHkyPSItMC41NDc1Njg3MSIgaWQ9IlBhdGgtMi1Db3B5LTIiIHRyYW5zZm9ybT0idHJhbnNsYXRlKDIwLjI2MDA0MiwgMC41MjgwMTMpIHJvdGF0ZSg5MC4wMDAwMDApIHRyYW5zbGF0ZSgtMjAuMjYwMDQyLCAtMC41MjgwMTMpICI+PC9saW5lPiAgICAgICAgICAgICAgICAgICAgPC9nPiAgICAgICAgICAgICAgICAgICAgPGxpbmUgeDE9IjE5LjAwODQ1NjciIHkxPSI4LjA1NzA4MjQ1IiB4Mj0iMTkuMDA4NDU2NyIgeTI9IjUuOTA1OTE5NjYiIGlkPSJQYXRoLTIiIHN0cm9rZT0iI0Y4QzI3MiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2UtbGluZWpvaW49InJvdW5kIj48L2xpbmU+ICAgICAgICAgICAgICAgIDwvZz4gICAgICAgICAgICA8L2c+ICAgICAgICA8L2c+ICAgIDwvZz48L3N2Zz4=);
	background-position: top left;
	background-repeat: no-repeat;
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__button {
	color: var(--ck-color-base-background);
	font-weight: bold;
	position: absolute;
	top: 5px;
	right: 5px;
	font-size: var(--ck-font-size-small);
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__button:hover {
	background: hsla(0, 100%, 100%, 0.1);
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__sonar {
	background: hsla(0, 100%, 50%, 0);
	width: 15px;
	height: 15px;
	position: absolute;
	border-radius: 100px;

	left: calc(2 * var(--ck-balloon-arrow-half-width));
	top: -33px;
	pointer-events: none;
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__sonar::after,
.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__sonar::before {
	content: "";
	position: absolute;
	width: 40px;
	height: 40px;
	top: 50%;
	left: 50%;
	margin-left: -20px;
	margin-top: -20px;
	display: block;
	border-radius: 100px;
	background: hsla(214, 100%, 50%, 0.45);
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__sonar::before {
	animation: pulse1 4s ease-out forwards infinite;
}

.ck.ck-balloon-panel.live-snippet__tour-balloon .live-snippet__tour-balloon__sonar::after {
	animation: pulse2 4s ease-out forwards infinite;
}

@keyframes pulse1 {
	0%, 20% {
		opacity: 0;
		transform: scale3d(.3,.3,.3);
	}
	40% {
		opacity: .3;
	}
	50%, 100% {
		opacity: 0;
		transform: scale3d(1, 1, 1);
	}
}

@keyframes pulse2 {
	0%, 10% {
		opacity: 0;
		transform: scale3d(.3,.3,.3);
	}
	30% {
		opacity: .3;
	}
	40%, 100% {
		opacity: 0;
		transform: scale3d(1.3, 1.3, 1);
	}
}
